@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes correctAnswer {
  0% {
    background-color: white;
    transform: scale(1);
  }
  50% {
    background-color: limegreen;
    transform: scale(1.1);
  }
  100% {
    background-color: white;
    transform: scale(1);
  }
}

@keyframes incorrectAnswer {
  0% {
    background-color: white;
    transform: scale(1);
  }
  50% {
    background-color: red;
    transform: scale(1.1);
  }
  100% {
    background-color: white;
    transform: scale(1);
  }
}

.correct {
  animation: correctAnswer 0.5s ease-in-out;
}

.incorrect {
  animation: incorrectAnswer 0.5s ease-in-out;
}

body {
  background: linear-gradient(45deg, #283c86, #45a247);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}

@keyframes gradientBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.container {
  background: rgba(255, 255, 255, 0.9); /* Increased transparency */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px); /* Add blur effect */
  max-width: 600px; /* Added max-width */
  margin: auto; /* Centered the box */
}

button {
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}